.footer{
    height: auto;
    width: 100%;
    background-color: black;
}
.footer-row{
    height: auto;
    display: flex;
    flex-direction: row;
}
.footer-row1{
    height: auto;
    display: flex;
    flex-direction: row;
}
.footer-logo{
    margin-top: 62px;
    margin-left: 77px;
    width: 176px;
    height: 28px;
}
.width-50{
    width: 50%;
}
.input-email{
    margin-top: 50px;
    height: 64px;
}
.email-input{
    float: right;
    margin-right: 77px;
    padding: 22px 77px;
    border: none;
    color: #F7CD1E;
    background-color: transparent;
    border: 1px solid #F7CD1E;
    border-radius: 5px;

    font-size: 20px;
  
}
.email-input::placeholder{
    color: #F7CD1E;
    font-size: 20px;
}
.links-row{
    margin-top: 54px;
    
    margin-left: 40px;
    padding-bottom: 37px;
}
.links-row a{
    padding: 0 37px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
.links-row a:hover{
    padding: 0 37px;
    text-decoration: none;
    color: #F7CD1E;
    font-weight: 400;
    font-size: 18px;
}
.greyline{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: #B9B9B9;

}
.copyright-text{
    padding: 27px 77px;
    color: white;
}
.right-float{
    padding: 27px 0px;
    margin-right: 77px;
    text-align: right;
}
@media (max-width:450px){
    .footer-row{
        flex-direction: column;
        
    }   
    .footer-row1{
        flex-direction: column-reverse;
        
    }  
    .width-50{
        width: 100%;
    }
    .footer-logo{
        align-items: center;
        margin-left: 90px;
    }
    .email-input{
        float: none;
        width: 50%;
        margin: 0 10px;
        align-items: center;
    }
    .links-row a{
        margin-left: 0;
        margin-right: 0;
        text-align: center;
       align-items: center;
    }
    .copyright-text{
        font-size: 12px;
        padding-top: 0;
     align-items: center;
    text-align: center; }
    .right-float{
        padding: 27px 0px;
        margin-right: 77px;
        text-align: center;
    }
}